.dialog-title {
  font-size: clamp(1.75rem, 3vw, 2.5rem);
  padding: 0 0 8px;
  margin: 0;
}

.dialog-body {
  padding-top: 4px;
  padding-bottom: 8px;
}

.dialog-actions {
  padding-top: 8px;
  gap: 12px;
  flex-wrap: wrap;
}
